@using PagedList
@using PagedList.Mvc
@model NoteMarketPlaces.Models.NoteUnderReview

@{
    ViewBag.Title = "NoteUnderReview";
    Layout = "~/Views/Shared/AdminRegister.cshtml";
}

<section id="dashboard-top" class="admin-top">

    <div class="container">

        <!-- dashboard heading & add note button -->
        <div class="row dashboard-top-title">

            <!-- Title -->
            <div class="col-md-7 col-sm-12 col-12">
                <div class="dashboar-heading">
                    <h2>Notes Under Review</h2>
                </div>
            </div>
        </div>
    </div>

</section>

<section id="dashboard-second-section" class="admin-dashboard">
    <div class="container">
        <form>
            <div class="row">

                <div class="col-12 col-sm-12 col-md-3 col-lg-2 col-xl-2 margbo">
                    <div class="form-group">
                        <label class="mylabel">Seller</label>
                        <select name="sellerName" class="form-control inputselect" onchange="submit()">
                            <option value="">Select Name</option>
                            @foreach (var item in ViewBag.sellerName)
                            {
                                if (Request.QueryString["sellerName"] == item)
                                {
                                    <option selected value="@item">@item</option>
                                }
                                else
                                {
                                    <option value="@item">@item</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-9 col-lg-10 col-xl-10 dobottom">

                    <div class="row justify-content-end">
                        <div class="wrapper">
                            <img src="~/Admin_Content/images/Dashboard/search.jpg" class="searchimage doup">
                            <input type="text" name="search" value="@Request.QueryString["search"]" class="form-control search-bar InputEmail1" placeholder="Search">
                            <input name="sortBy" value="@Request.QueryString["sortBy"]" hidden />

                        </div>
                        <div class="marge-left">
                            <button type="submit" class="btn text-uppercase text-center" id="mybtn"><b>Search</b></button>
                        </div>
                    </div>

                </div>

            </div>
        </form>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="grid-table table-responsive-xl">
                <table class="table">
                    <thead class="headr-wrap">
                        <tr style="cursor:pointer">
                            <th scope="col" class="align-middle text-center" style="cursor:text">SR NO.</th>
                            <th scope="col" class="align-middle" onclick="@("window.location.href='" + @Url.Action("NoteUnderReview", "Admin", new { sortBy = "title", search = Request.QueryString["search"], page = Request.QueryString["page"] }) + "'");">NOTE TITLE</th>
                            <th scope="col" class="align-middle" onclick="@("window.location.href='" + @Url.Action("NoteUnderReview", "Admin", new {sortBy= "category", search = Request.QueryString["search"], page = Request.QueryString["page"] }) + "'");">CATEGORY</th>
                            <th scope="col" class="align-middle" onclick="@("window.location.href='" + @Url.Action("NoteUnderReview", "Admin", new {sortBy= "seller", search = Request.QueryString["search"], page = Request.QueryString["page"] }) + "'");">SELLER</th>
                            <th scope="col" class="align-middle" style="cursor:text"></th>
                            <th scope="col" class="align-middle" onclick="@("window.location.href='" + @Url.Action("NoteUnderReview", "Admin", new {sortBy= "date", search = Request.QueryString["search"], page = Request.QueryString["page"] }) + "'");">DATE ADDED</th>
                            <th scope="col" class="align-middle text-center" onclick="@("window.location.href='" + @Url.Action("NoteUnderReview", "Admin", new {sortBy= "status", search = Request.QueryString["search"], page = Request.QueryString["page"] }) + "'");">STATUS</th>
                            <th scope="col" class="align-middle" style="cursor:text"></th>
                            <th scope="col" class="align-middle" style="cursor:text">ACTION</th>
                            <th scope="col" class="align-middle" style="cursor:text"></th>
                            <th scope="col" class="align-middle" style="cursor:text"></th>
                            <th scope="col" class="align-middle" style="cursor:text"></th>
                        </tr>
                    </thead>
                    <tbody class="headr-wrap">
                        @if (Model.pagedList.Count == 0)
                        {
                            <tr><td colspan="12" class="align-middle">No Record Found!</td></tr>
                        }
                        @{
                            int i = -1, a;
                            if (Request.QueryString["page"] == null || Request.QueryString["page"].AsInt() == 1)
                            {
                                a = 1;
                            }
                            else
                            {
                                a = (Request.QueryString["page"].AsInt() - 1) * 5 + 1;
                            }
                            foreach (var item in Model.pagedList)
                            {
                                i++;
                                <tr>
                                    <td class="align-middle text-center">@(a + i)</td>
                                    <td class="align-middle getpurple">@item.Title</td>
                                    <td class="align-middle">@item.Category</td>
                                    <td class="align-middle">@item.Publisher</td>
                                    <td class="align-middle" ><img src="~/Admin_Content/images/Dashboard/eye.png" style="cursor:pointer" onclick="@("window.location.href='" + @Url.Action("MemberDetail", "Admin", new { UserId = item.OwnerID }) + "'");"></td>
                                    <td class="align-middle">@item.CreatedDate.Value.ToString("dd-MM-yyyy,hh:mm")</td>
                                    <td class="align-middle">@item.Status</td>
                                    <td class="align-middle"><button class=" btnintable dogreen" onclick="@("window.location.href='" + @Url.Action("NoteUnderReview", "Admin", new { buttenValue = "approve", noteId = item.NoteID.ToString(), search = Request.QueryString["search"], sortBy = "price", page = Request.QueryString["page"] }) + "'");">Approve</button></td>
                                    <td class="align-middle"><button class="btnintable dored" data-toggle="modal" data-target="#exampleModal" onclick="reject(@item.NoteID,'@item.Title')">Reject</button></td>
                                    <td class="align-middle"><button class="btnintable dogrey">InReview</button></td>
                                    <td class="align-middle" style="cursor:pointer">
                                        <div class="dropdown" style="cursor:pointer">
                                            <a id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fas fa-ellipsis-v dowhite"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                                <a class="dropdown-item" href="@Url.Action("NoteDetail","Admin",new { noteId = item.NoteID.ToString() } )">View More Details</a>
                                                <a class="dropdown-item" href="@Url.Action("DownloadFile","Home",new { filename = item.UploadNote } )">Download Notes</a>
                                            </div>
                                        </div>
                                    </td>
                                    <td></td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</section>

<script>
    
    function reject(id, title) {
        document.getElementById("rejectedNoteID").setAttribute("value", id);
        var x = document.getElementsByClassName("noteTitle");
        x[0].innerHTML = title;
    }
</script>

<!-- Modal -->
<div class="modal fade modal-download" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">

        <div class="row">
            <div class="col-xl-12">
                <div class="modal-content">
                    <div class="modal-header">

                        <a class="close" data-dismiss="modal" aria-label="Close">
                            <img src="~/content/images/Notes Details/close.png">
                        </a>
                    </div>
                    <div class="model-data">

                        <div class="model-head text-left">
                            <p class="noteTitle">Note Title</p>
                        </div>
                        <div class="middel-content text-left">

                            <form method="post">

                                <input name="rejectedNote.NoteID" id="rejectedNoteID" hidden />

                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <div class="textarea-input">
                                                <label class="mylabel" for="InputEmail1">Remark *</label>
                                                @Html.TextAreaFor(m => m.RejectedNote.Remark, new { @placeholder = "Remark...", @class = "form-control InputEmail1" })
                                                @Html.ValidationMessageFor(m => m.RejectedNote.Remark)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <button type="submit" class="btn text-center" id="mybtn">Reject</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>

<!-- Pagination -->
@Html.PagedListPager(Model.pagedList, page => Url.Action("NoteUnderReview", new { page, sortBy = Request.QueryString["sortBy"], search = Request.QueryString["search"] }), new PagedListRenderOptions()
{
       Display = PagedListDisplayMode.IfNeeded,
       ContainerDivClasses = null,
       LiElementClasses = new string[] { "page-item" },
       UlElementClasses = new string[] { "pagination justify-content-center" },
       LinkToNextPageFormat = "<i class='fa fa-chevron-right'></i>",
       LinkToPreviousPageFormat = "<i class='fa fa-chevron-left'></i>",
       MaximumPageNumbersToDisplay = 5,
       DisplayEllipsesWhenNotShowingAllPageNumbers = false,
       DisplayLinkToFirstPage = PagedListDisplayMode.Never,
       DisplayLinkToLastPage = PagedListDisplayMode.Never
})
