@model NoteMarketPlaces.Models.UserDetail

@{
    ViewBag.Title = "User profile page";
    Layout = "~/Views/Shared/Register.cshtml";
}

<!-- User Profile -->
<!-- First Section -->
<section class="setfooter">
    <div id="user-profile-img">
        <div class="centerh2">

            <h2>User Profile</h2>

        </div>
    </div>


    <form class="user-details-form" method="post" enctype="multipart/form-data">

        <!-- Second Section -->
        <section id="basic-profile-details" class="user-profile content-box-md">
            <div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="head">
                                <h3>Basic Profile Details</h3>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">

                                <div class="col-md-6 col-sm-6">
                                    <!-- First Name -->
                                    <div class="form-group">
                                        <label class="mylabel">First Name *</label>
                                        @Html.TextBoxFor(m => m.User.FirstName, new { @class = "form-control InputEmail1", @placeholder = "Enter your First Name" })
                                        @Html.ValidationMessageFor(m => m.User.FirstName)
                                    </div>

                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <!-- Last Name -->
                                    <div class="form-group">
                                        <label class="mylabel" for="InputEmail1">Last Name *</label>
                                        @Html.TextBoxFor(m => m.User.LastName, new { @class = "form-control InputEmail1", @placeholder = "Enter your Last Name" })
                                        @Html.ValidationMessageFor(m => m.User.LastName)
                                    </div>

                                </div>

                            </div>
                            <div class="row">

                                <div class="col-md-6 col-sm-6">
                                    <!-- Email -->
                                    <div class="form-group">
                                        <label class="mylabel" for="InputEmail1">Email *</label>
                                        @Html.TextBoxFor(m => m.User.EmailID, new { @class = "form-control InputEmail1", @readonly = "readonly" })
                                        @Html.ValidationMessageFor(m => m.User.EmailID)
                                    </div>
                                </div>

                                <div class="col-md-6 col-sm-6">
                                    <!-- DOB -->
                                    <div class="form-group">
                                        <label class="mylabel">Date Of Birth</label>

                                        <!-- Calender icon -->
                                        <div class="wrapper">
                                            @Html.TextBoxFor(m => m.DOB, new { @class = "form-control InputEmail1", @placeholder = "Enter your birth of date", @type = "date" })
                                            @Html.ValidationMessageFor(m => m.DOB)
                                            <img src="~/Content/images/user-profile/calendar.png" alt="show">
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <!-- Gender -->
                                    <div class="form-group">
                                        <label class="mylabel">Gender</label>
                                        <!-- Drop down -->
                                        <select name="Gender" class="form-control inputselect">
                                            <option>Select your gender</option>
                                            @if (Model.Gender != null)
                                            {
                                                if (Model.Gender.Equals("Male"))
                                                {
                                                    <option value="Male" selected>Male</option>
                                                    <option value="Female">Female</option>
                                                    <option value="Other">Other</option>
                                                }
                                                else if (Model.Gender.Equals("Female"))
                                                {
                                                    <option value="Male">Male</option>
                                                    <option value="Female" selected>Female</option>
                                                    <option value="Other">Other</option>
                                                }
                                                else if (Model.Gender.Equals("Male"))
                                                {
                                                    <option value="Male">Male</option>
                                                    <option value="Female">Female</option>
                                                    <option value="Other" selected>Other</option>
                                                }
                                            }
                                            else
                                            {
                                                <option value="Male">Male</option>
                                                <option value="Female">Female</option>
                                                <option value="Other">Other</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">

                                    <!-- Phone Number -->
                                    <div class="form-group">
                                        <label class="mylabel">Phone Number</label>
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-md-5 col-sm-5 col-3 col-xl-3 col-lg-4  nopadding">
                                                    <div class="marginright">
                                                        <select name="CountryCode" class="form-control inputselect">
                                                            @{
                                                                var list = ViewBag.country as IEnumerable<NoteMarketPlaces.Models.Country>;
                                                                foreach (var item in list)
                                                                {
                                                                    if (Model.CountryCode != null)
                                                                    {
                                                                        if (Model.CountryCode.Equals(item.CountryCode.ToString()))
                                                                        {
                                                                            <option selected>+@item.CountryCode</option>
                                                                        }
                                                                        else
                                                                        {
                                                                            <option>+@item.CountryCode</option>
                                                                        }
                                                                    }
                                                                    else
                                                                    {
                                                                        <option>+@item.CountryCode</option>
                                                                    }

                                                                }
                                                            }
                                                        </select>

                                                    </div>
                                                </div>
                                                <div class="col-md-7 col-sm-7 col-9 col-xl-9 col-lg-8 nopadding">
                                                    @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control InputEmail1", @placeholder = "Enter your phone number" })
                                                    @Html.ValidationMessageFor(m => m.PhoneNumber)
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Upload a Picture -->
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="upload-profile-picture">
                                            <label class="mylabel" for="InputEmail1">Profile Picture</label>
                                            <input type="file" name="File" class="form-control InputEmail1" accept="image/*">

                                            <div class="uploadmypic text-center">
                                                <img class="img-fluid" src="~/Content/images/user-profile/upload.png">
                                                <h6>Upload a picture</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!-- Second Section Ends-->
        <!-- Third Section -->
        <section id="Address-details" class="user-profile content-box-md">
            <div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="head">
                                <h3>Address Details</h3>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">

                            <div class="row">

                                <div class="col-md-6 col-sm-6">
                                    <!-- Address Line 1 -->
                                    <div class="form-group">
                                        <label class="mylabel">Address Line 1 *</label>
                                        @Html.TextBoxFor(m => m.Address1, new { @class = "form-control InputEmail1", @placeholder = "Enter your address", @maxLenght = 100 })
                                        @Html.ValidationMessageFor(m => m.Address1)
                                    </div>

                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <!-- Address Line 2 -->
                                    <div class="form-group">
                                        <label class="mylabel" for="InputEmail1">Address Line 2 *</label>
                                        @Html.TextBoxFor(m => m.Address2, new { @class = "form-control InputEmail1", @placeholder = "Enter your address", @maxLenght = 100 })
                                        @Html.ValidationMessageFor(m => m.Address2)
                                    </div>

                                </div>

                            </div>
                            <div class="row">

                                <div class="col-md-6 col-sm-6">
                                    <!-- City -->
                                    <div class="form-group">
                                        <label class="mylabel" for="InputEmail1">City *</label>
                                        @Html.TextBoxFor(m => m.City, new { @class = "form-control InputEmail1", @placeholder = "Enter your city" })
                                        @Html.ValidationMessageFor(m => m.City)
                                    </div>
                                </div>

                                <div class="col-md-6 col-sm-6">
                                    <!-- State -->
                                    <div class="form-group">
                                        <label class="mylabel">State *</label>
                                        @Html.TextBoxFor(m => m.State, new { @class = "form-control InputEmail1", @placeholder = "Enter your state" })
                                        @Html.ValidationMessageFor(m => m.State)
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <!-- ZipCode -->
                                    <div class="form-group">
                                        <label class="mylabel">ZipCode *</label>
                                        @Html.TextBoxFor(m => m.ZipCode, new { @class = "form-control InputEmail1", @placeholder = "Enter your zipcode" })
                                        @Html.ValidationMessageFor(m => m.ZipCode)
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">

                                    <!-- Country -->
                                    <div class="form-group">
                                        <label class="mylabel">Country *</label>

                                        <!-- Drop down arrow icon -->
                                        <select name="Country" class="form-control inputselect">
                                            @{
                                                var list2 = ViewBag.country as IEnumerable<NoteMarketPlaces.Models.Country>;
                                                foreach (var item in list2)
                                                {
                                                    if (Model.Country != null)
                                                    {
                                                        if (Model.Country.Equals(item.CountryName))
                                                        {
                                                            <option selected>@item.CountryName</option>
                                                        }
                                                        else
                                                        {
                                                            <option>@item.CountryName</option>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <option>@item.CountryName</option>
                                                    }
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!-- Third Section Ends-->
        <!-- Forth Section -->
        <section id="study-details" class="user-profile content-box-md">
            <div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="head">
                                <h3>University and College Details</h3>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">

                            <div class="row">

                                <div class="col-md-6 col-sm-6">
                                    <!-- University -->
                                    <div class="form-group">
                                        <label class="mylabel">University</label>
                                        @Html.TextBoxFor(m => m.University, new { @class = "form-control InputEmail1", @placeholder = "Enter your university" })
                                        @Html.ValidationMessageFor(m => m.University)
                                    </div>

                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <!-- College -->
                                    <div class="form-group">
                                        <label class="mylabel" for="InputEmail1">College*</label>
                                        @Html.TextBoxFor(m => m.College, new { @class = "form-control InputEmail1", @placeholder = "Enter your college" })
                                        @Html.ValidationMessageFor(m => m.College)
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- Login Button -->
                    <div class="row">
                        <div class="col-md-2 col-sm-12">
                            <button type="submit" class="btn text-uppercase text-center" id="mybtn"><b>submit</b></button>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!-- Forth Section Ends-->
    </form>
</section>

<!-- User Profile End -->
